
.ipynb_checkpoints/Insulator-checkpoint.ipynb
__pycache__/modsim.cpython-36.pyc
.ipynb_checkpoints/README-checkpoint.md
output_29_0.png
output_24_0.png
output_22_0.png
output_14_1.png
output_11_0.png
notebook.tex
.ipynb_checkpoints/Simulation2-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/r_values1-checkpoint.csv
.ipynb_checkpoints/notebook-checkpoint.tex
.ipynb_checkpoints/modsim-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
